apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: visitor-counter
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/curis2025/visitor-counter-gitops.git
    targetRevision: main
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: visitor-app
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true