apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: visitor-counter
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/labibi1/visitor-counter-gitops.git
    targetRevision: master
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: visitor-app
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true




# kubectl apply -f argocd-application.yaml
# kubectl delete -f argocd-application.yaml

# Option A: Using ArgoCD CLI

# argocd app create visitor-counter \
#   --repo https://github.com/labibi1/visitor-counter-gitops.git \
#   --path k8s \
#   --dest-server https://kubernetes.default.svc \
#   --dest-namespace visitor-app \
#   --sync-policy automated \
#   --auto-prune \
#   --self-heal


# # Watch ArgoCD sync
# argocd app get visitor-counter

# # Watch pods come up
# kubectl get pods -n visitor-app -w

# # Check all resources
# kubectl get all -n visitor-app